
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    font-weight: 400;
    margin-left: 5.375rem;
    line-height: 1.6;
    text-align: left;
    background: #0d0d0d;
    color: #f5f5f5;
    animation: fadeIn 1.2s ease-in-out;
}

.fade {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
    from {opasity: 0; transform: translateY(10px);}
    to {opacity: 1; transform: translateY(0)}
}

/* timing control */
.delay1 {animation-delay: 0.3s;}
.delay2 {animation-delay: 0.6s;}
.delay3 {animation-delay: 0.9s;}


/*! Header */
header {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}
header h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 29rem 5rem 0;
}
header h2 a {
    text-decoration: none;
}
nav {
    padding-right: 20px;
}
nav:nth-child(2) {
    margin-right: 4rem;
}
nav a {
    margin-left: 1.25rem;
    text-decoration: none;
    font-size: 0.95rem;
    transition: color 0.2s;
}
nav a:hover {
    color: #ff4d00;
}

/*TODO Main */
main {
    display: flex;
    max-width: 43.75rem;
    flex-wrap: wrap;
}
main img {
    clip-path: circle(50% at 50% 50%);
    width: 138px;
    height: 138px;
    object-fit: cover;
    margin: 0 2.8125rem 3rem 0;

}
section h1 {
    font-size: 2.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
section h3 {
    font-weight: 400;
    margin-bottom: 0.8rem;
}

/* Social media icon styles */
.social-links {
    display: flex;
    gap: 1.5rem;
    margin-left: 1rem;
}

.social-links a {
    font-size: 1.5rem;
    transition: color 0.3s, transform 0.3s;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a:hover {
    color: #ff4d00;
    transform: scale(1.2);
    transform: translateY(-3px);
}

/** Footer */
footer {
    text-align: center;
    padding: 2rem 0;
    font-size: 0.5rem;
    margin-top: 4.5rem;
}












